*{
 margin: 0; 
 padding: 0;  
}
.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(triangles.png);
    background-position: center;
    background-size: cover; 
      background-attachment: fixed;
    height: 169vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: orange;
    font-size: 55px;
    font-family: Arial;
    padding-top: 40px;
    float: left;
    
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    padding-top: 30px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 18px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out ;
}
ul li a:hover{
    color: orange;
}



.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;

}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
   padding-left: 430px;
    margin-top: 5%;
    letter-spacing: 2px;
}
.content .cn {
    width: 160px;
    height: 40px;
    background: orange;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;   
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}



.tabulka{
    width: 1200px;
    height: 1350px;

    color: white;
    background: linear-gradient(to top, rgba(0,0,0,0.7)10%,rgba(0,0,0,0.7)10%);
    
   position: absolute; 

   margin-top: 120px;
    margin-left: 0px; 
   
   
    border-radius: 30px;

}

.graf {
    position: absolute; 
    margin-top: 380px;
    margin-left: 0px; 
    border-radius: 30px;

}